/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


.node {
  fill: #fff;
  stroke: #1E72AD;
  stroke-width: 0.2em;
}

.node:hover {
  cursor: pointer;
}
.link {
  stroke: #777;
  stroke-width: 0.1em;
}

.node-text {
  fill: #1E72AD;
  stroke-width: 0.05em;
}

.link-label {
  stroke-width: 0.05em;
}

// 30 114 173
