%strong
  Controls:
Click on any node to toggle node/link highlighting. Drag to reposition node.
%span{id: 'unfix-position', style: 'visibility: hidden'}
  %a{href: '#', id: 'unfix-position-button'} Release fixed nodes
%br
%div{id: 'highlight-info', style: 'visibility: hidden'}
  %strong Node Legend:
  Black - selected |
  %span{style: 'color: #3a3'} 
    Green - bidirectional |
  %span{style: 'color: #1E72AD'} 
    Blue - outgoing |
  %span{style: 'color: #d33'} Red - incoming