%button{type: 'button', class: 'btn btn-default', id: 'graph-load-example'} Load Example

%div{class: 'pull-right'}
  %button{type: 'button', class: 'btn btn-primary', id: 'graph-draw-button'} Draw Graph

%div{class: 'row'}
%hr
%textarea{class: 'graph-input form-control', rows: 16, placeholder: 'Paste graph input here...', id: 'graph-input'}

