/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.node {
  fill: #fff;
  stroke: #1E72AD;
  stroke-width: 0.2em;
}

.node:hover {
  cursor: pointer;
}
.link {
  stroke: #777;
  stroke-width: 0.1em;
}

.node-text {
  fill: #1E72AD;
  stroke-width: 0.05em;
}

.link-label {
  stroke-width: 0.05em;
}

.header-path, .header-dist {
  font-weight: bold;
  text-align: right;
  border-bottom: 0.1em dashed #ccc;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.body-path {
  text-align: right;
}

.body-dist {
  text-align: right;
}

#graph-input {
  font-family: monospace;
}

.left-container {
  height: 100vh;
  overflow-y: auto;
}