!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Network Bellman-Ford Visualizer
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav{class: 'navbar navbar-inverse', id: 'navbar-inverse-mod'}
      %div{class: 'container-fluid'}
        %div{class: 'navbar-header'}
          %a{class: 'navbar-brand', href: '#'} netBF-viz

        %div{class: 'pull-right navbar-header'}
          %a{class: 'navbar-brand', href: 'http://github.com/gbudiman/netbf-viz', target: '_netbf-viz'} 
            GitHub
            %span{class: 'glyphicon glyphicon-new-window'}
    = yield
